* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
}

/* 会社ロゴ */
.Logo img {
  display: block;
  position: fixed;
  top: 7rem;
  left: 9rem;
  width: 5rem;
  animation-name: tpdwn;
  animation-duration: 3s;
}

.Logo2 img {
  display: none;
}

@keyframes tpdwn {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

/* メニュー */
.aside {
  position: fixed;
  top: 7rem;
  right: 5rem;
  text-align: left;
  animation-name: tpdwn2;
  animation-duration: 3s;
}

@keyframes tpdwn2 {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}

.aside ul li {
  padding-bottom: 15px;
}

.aside ul li a {
  color: black;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  line-height: 3rem;
}

.aside ul li a:hover {
  opacity: 0.2;
}

/* top画面 */
header {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.TopMovie {
  text-align: center;
}

.TopMovie video {
  border-radius: 0 10rem;
  width: 60%;
  height: auto;
  max-width: 100%;
  margin-top: 7rem;
  object-fit: cover;
}

/* 本文 */
main {
  max-width: 50%;
  margin: auto;
}

.articleBox {
  margin-top: 20rem;
}

.articleBox h1 {
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
  text-align: right;
}

.textBox {
  line-height: 2rem;
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
}

.textPicture {
  text-align: center;
  margin-top: 3rem;
}

.textPicture img {
  width: 100%;
  height: 30rem;
  border-radius: 0 8rem;
  object-fit: cover;
}

.textPictureYoko {
  text-align: center;
  margin-top: 3rem;
}

.textPictureYoko li {
  display: inline-block;
  padding-right: 2rem;
}

.textPictureYoko li:last-child {
  padding-right: 0;
}

.textPictureYoko img {
  width: 15rem;
  border-radius: 0 2rem;
}

.textPictureYoko img:hover {
  opacity: 0.5;
}

.textPictureIntro {
  text-align: center;
  margin-top: 3rem;
}

.textPictureIntro li {
  display: inline-block;
  padding-right: 2rem;
}

.textPictureIntro li:last-child {
  padding-right: 0;
}

.textPictureIntro img {
  width: 10rem;
  height: 10rem;
  border-radius: 0 2rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.textPictureIntro p {
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.name p {
  font-size: 1.5rem;
}

.articleBox iframe {
  width: 80rem;
  height: 50rem;
  max-width: 100%;
}

/* フッター */
footer {
  background-color: #015287;
  padding: 5rem;
  max-width: 100%;
  margin-top: 20rem;
}

.footerManu {
  text-align: center;
  margin-bottom: 5rem;
}

.footerManu ul {
  margin-bottom: 1rem;
}

.footerManu li {
  display: inline-block;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  padding-right: 1.5rem;
  color: white;
}

.footerManu a {
  color: white;
}

.footerManu a:hover {
  opacity: 0.2;
}

.footerManu li:last-child {
  padding-right: 0;
}

.footerLogo {
  text-align: center;
}

.footerLogo img {
  width: 20rem;
}

.footerCopylight p {
  color: white;
  margin-top: 3rem;
  letter-spacing: 0.2rem;
  font-size: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 1201px) {

  /* 959px以下に適用されるCSS（タブレット用） */
  .TopMovie video {
    border-radius: 0 5rem;
    width: 80%;
  }

  .Logo2 img {
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 3rem;
  }

  .Logo img {
    display: none;
  }

  .aside {
    display: none;
  }

  main {
    width: 80%;
  }

  .articleBox {
    margin-top: 10rem;
  }

  .textPicture img {
    height: 20rem;
    border-radius: 0 4rem;
  }

  footer {
    padding: 2rem;
  }
}

@media screen and (max-width: 480px) {

  /* 480px以下に適用されるCSS（スマホ用） */
  .Logo2 img {
    width: 80%;
  }

  .textPicture img {
    height: 10rem;
    border-radius: 0 3rem;
  }

  .footerManu ul li {
    margin-bottom: 1rem;
  }

  .footerLogo img {
    width: 15rem;
  }
}
